* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #506066;
  background: #fff;
  margin:0;
  padding:0;
  position: relative;
}
